@import url(http://fonts.googleapis.com/css?family=Karla:400,700);

body {
	margin: 0px;
	padding: 0px;
	background-color: #f1f1f1;
	font-family: 'Karla', sans-serif;
    color: #333;}

/* Nagłówek */
header {
	background-color: #333333;
	margin: 0px 0px 40px 0px;
	padding: 10px 0px 0px 0px;
	min-height: 50px;
	text-align: center;}

h1 {
  background-image: url('../img/creative-folk.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px auto 5px auto;
  width: 516px;
  height: 21px;
  text-align: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;}

h2 {
	font-size: 180%;
	margin: 0px;}
h2, h4 {
	font-weight: normal;}
h4 {
	color: #333;
	display: inline-block;
	font-size: 120%;
	margin: 5px 0px 5px 0px;
}

/* Opcje filtrowania i wyszukiwania */
#price-range {
	width: 370px;
	margin: 10px auto 30px auto;
	text-align: center;
	font-weight: bold;}
#value-min, #value-max {width: 100px;}
#slider {margin: 30px 0px 30px 0px;}
input[type="number"] {margin: 0px 10px 0px 10px;}
/* Opcje filtrowania i wyszukiwania */
#buttons, #search {
	text-align: center;
	margin-bottom: 30px;}

/* Przyciski filtrowania */
button {
	background-color: #d7d7d7;
	border: none;
	padding: 3px 10px 4px 10px;
	border-radius: 4px;
	color: #333;
	font-family: 'Karla', sans-serif;
	font-size: 100%;}

button:hover, button.active {
	background-color: #00cccc;
	color: #fff;
	cursor: pointer;}


/* Elementy input wyszukiwania */
input {
	font-size: 120%;
	border: 1px solid #999;
	padding: 5px;}
input:hover {
	border: 1px solid #666;}
input:focus {
	border: 1px solid #00cccc;
	outline: none;}


/* Galeria obrazów */
#gallery {
	text-align: center;
	max-width: 1020px;
	margin: 0px auto;}

#gallery img {
	width: 300px;
	height: 150px;
	border-radius: 3px;
	border: 8px solid #fff;
	margin: 6px;
    -webkit-box-shadow: 0 0 3px 3px #ebebeb;
    box-shadow: 0 0 3px 3px #ebebeb;
	float: left;}


/* Style tabel */
table {
	margin: 0px auto;
	width: 780px;}
table#rates	{width: 380px;}
th, td {
	border-radius: 3px;
	color: #333;
	padding: 7px 10px 5px 10px;
	min-width: 9em;
	text-align: left;}
th {
	background-color: #d7d7d7;
	font-weight: bold;
	text-transform: uppercase;}
td {
	background-color: #fff;}
table.sortable th:hover {
	cursor: pointer;}
th.ascending, th.descending, table.sortable th:hover {
	background-color: #00cccc;
	color: #fff;}

/* Strzałki używane do sortowania tabeli */
th.ascending:after {
	font-size: 60%;
    content: '\25B2';
    float: left;
	padding: 4px 5px 0px 0px;}
th.descending:after {
	font-size: 60%;
    content: '\25BC';
    float: left;
	padding: 4px 5px 0px 0px;}

.about {
	width: 780px;
	margin: 0px auto 40px auto;}
.about:after {
  content: "";
  display: table;
  clear: both;}
.about h2 {text-align: left; float: left;}

.bio {
	float: right;
	width: 195px;}
.bio img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;}

.location {
	padding-left: 74px;
	background-image: url('../img/pointer.png');
	background-repeat: no-repeat;
	background-position: 60px 1px;
	font-size: 90%;}
