<div class="event">
  <img src="img/map-ca.png" alt="Mapa Kalifornii" />
  <p><b>San Francisco, CA</b><br>
  1 maja</p>
</div>
<div class="event">
  <img src="img/map-tx.png" alt="Mapa Teksasu" />
  <p><b>Austin, TX</b><br>
  15 maja</p>
</div>
<div class="event">
  <img src="img/map-ny.png" alt="Mapa Nowego Jorku" />
  <p><b>Nowy Jork, NY</b><br>
  30 maja</p>
</div>