<!DOCTYPE html>
<html ng-app>
  <head>
    <title>JavaScript &amp; jQuery - rozdział 9: API - widok i model w Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="js/angular-controller.js"></script>
    <link rel="stylesheet" href="css/c09.css">
  </head>
  <body>
    <header><h1>THE MAKER BUS</h1></header>
    <h2>Kup bilety</h2>
    <div class="third"><img src="img/toys1.jpg" alt="Circuit boards" /></div>
    <div class="two-thirds">
      <table ng-controller="BasketCtrl">
        <tr><td>Bilet:</td><td>{{ description }}</td></tr>
        <tr><td>Koszt:</td><td>${{ cost }}</td></tr>
        <tr><td>Ilość:</td><td><input type="number" ng-model="qty"></td></tr>
        <tr><td>Wartość:</td><td>{{qty * cost | currency}}</td></tr>
      </table>
    </div>
  </body>
</html>