<!DOCTYPE html>
<html ng-app lang="pl">
  <head>
  	<meta charset="utf-8" />
    <title>JavaScript &amp; jQuery - rozdział 9: API - prosty przykład użycia Angular</title>
    <link rel="stylesheet" href="css/c09.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  </head>
  <body>
    <header><h1>THE MAKER BUS</h1></header>
    <div class="third">
      <p class="welcome">Zachęć przyjaciół, aby dołączyli do nas i wykorzystali możliwość wypróbowania Maker Bus...</p>
      <form>
        Do:<br>
        <input ng-model="name" type="text" /><br>
        Wiadomość:<br>
        <textarea ng-model="message"></textarea>
        <input type="submit" value="wyślij wiadomość" />
      </form>
    </div>
    <div class="two-thirds">
      <div class="postcard">
        <div>{{ name }}</div>
        <p>{{ message }}</p>
      </div>
    </div>
  </body>
</html>