<!doctype html>
<html ng-app>
  <head>
    <title>JavaScript &amp; jQuery - rozdział 9: API - Angular i dane zewnętrzne</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="js/angular-external-data.js"></script>
    <link rel="stylesheet" href="css/c09.css">
  </head>
  <body>
    <header><h1>THE MAKER BUS</h1></header>
    <h2>Godziny sesji</h2>
    <div class="third"><img src="img/toys1.jpg" alt="Circuit boards" /></div>
    <div class="two-thirds" id="timetable">
      <table ng-controller="TimetableCtrl">
        <tr><th>godzina</th><th>tytuł</th><th>opis</th></tr>
        <tr ng-repeat="session in sessions">
          <td>{{ session.time }}</td>
          <td>{{ session.title }}</td>
          <td>{{ session.detail }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>