/**********  Panel typu accordion **********/
.accordion, .menu {
  background-color: #f2f2f2;
  color: #666;
  margin: 0px;
  padding: 0px;
  overflow: auto;}

.accordion li {
  padding: 0px;
  list-style-type: none;}

.accordion-control {
  background-color: #303030;
  color: #fff;
  display: block;
  width: 100%;
  padding: 0.5em 0.5em 0.5em 0.7em;
  margin: 0px;
  border-top: 1px solid #666;}

.accordion-panel {
  display: none;}

.accordion-panel p {
  margin: 20px;}

.accordion-panel img {
  display: block;
  clear: left;}